---
---
{% include menu.html title="Kevin Luzbetak Teams" %}

<table width="800" border="0">
    <tr>
        <td colspan="2" align=center><h1>SCI Systems, Inc. -  Aerospace (1995)</h1></td>
    </tr>
    <tr>
        <td valign="top">
            <img src="1995-sci-systems_desk.jpg" width="400">
        </td>
        <td valign="top">
            <img src="1997-sci-systems.jpg" width="400">
        </td>
    </tr>
</table>

<table width="800" border="0">
    <tr>
        <td align=center><h1>Digital Insight - Internet Banking (1999)</h1></td>
    </tr>
    <tr>
        <td valign="top">
            <img src="1999-digital_insight.jpg" width="800">
        </td>
    </tr>
</table>

<table width="800" border="0">
    <tr>
        <td align=center><h1>Caltech - Neurobiology Research</h1></td>
    </tr>
    <tr>
        <td align=center><a href="https://www.vis.caltech.edu/" target="_blank">Andersen Lab - California Institute of Technology</a></td>
    </tr>
    <tr>
        <td valign="top">
            <img src="2001-caltech.jpg" width="800">
        </td>
    </tr>
</table>

<table width="800" border="0">
    <tr>
        <td colspan="2" align=center><h1>myspace.com -Social Network</h1></td>
    </tr>
    <tr>
        <td valign="top">
            <img src="2006-MySpace-Banner.jpg" width="400">
        </td>
        <td valign="top">
            <img src="2007-MySpace.jpg" width="400">
        </td>
    </tr>
</table>

<table width="800" border="0">
    <tr>
        <td align=center><h1>Skyworks - iPhone Radio Frequency Chips</h1></td>
    </tr>
    <tr>
        <td valign="top">
            <img src="2013-skyworks-clean-room.jpg" width="800">
        </td>
    </tr>
</table>


<table width="800" border="0">
    <tr>
        <td colspan="2" align=center><h1>Nexstar Media Group -  U.S. Television</h1></td>
    </tr>
    <tr>
        <td valign="top">
            <img src="nexstar-media-1.jpg" width="400">
        </td>
        <td valign="top">
            <img src="nexstar-media-2.jpg" width="400">
        </td>
    </tr>
</table>

<table width="800" border="0">
    <tr>
        <td align=center><h1>The Walt Disney - Entertainment</h1></td>
    </tr>
    <tr>
        <td valign="top">
            <img src="2017-The-Walt-Disney-Company.jpg" width="800">
        </td>
    </tr>
</table>

<table width="800" border="0">
    <tr>
        <td colspan="2" align=center><h1>Amazon AWS - Cloud Computing</h1></td>
    </tr>
    <tr>
        <td valign="top">
            <img src="2019-Kevin-Luzbetak-Eric-Ferreira.jpg" width="400">
        </td>
        <td valign="top">
            <img src="2020-Amazon-AWS.jpg" width="400">
        </td>
    </tr>
</table>


  {% include footer.html %}

  </body>
</html>
    

