---
---
{% include menu.html title="Kevin Luzbetak Teams" %}

<table width="800" border="0">
<tr><td valign=top>
    <h1>Digital Insight</h1>
    <img src="1999-digital_insight.jpg" width=800>
</td></tr></table>

<table width="800" border="0">
<tr><td valign=top>
    <h1>California Institute of Technology</h1>
    <a href="https://www.vis.caltech.edu/" target="_blank">Caltech Andersen Lab</a>
    <img src="2001-caltech.jpg" width=800>
</td></tr></table>

<table width="800" border="0"><tr>
    <td valign=top>
        <h1>MySpace</h1>
        <img src="2006-MySpace-Banner.jpg" width=400>
    </td>
    <td valign=top>
        <h1>Fox Interactive Media</h1>
        <img src="2007-MySpace.jpg" width=400>
    </td>
</tr></table>

<table width="800" border="0"><tr>
    <td valign=top>
        <h1>Nexstar Media Group</h1>
        <img src="nexstar-media-1.jpg" width=400>
    </td>
    <td valign=top>
        <h1>MySpace - 2007</h1>
        <img src="nexstar-media-2.jpg" width=400>
    </td>
</tr></table>

<table width="800" border="0">
<tr><td valign=top>
    <h1>The Walt Disney Company</h1>
    <img src="2017-The-Walt-Disney-Company.jpg" width=800>
</td></tr></table>

<table width="800" border="0"><tr>
    <td valign=top>
        <h1>Amazon AWS</h1>
        <img src="2019-Kevin-Luzbetak-Eric-Ferreira.jpg" width=400>
    </td>
    <td valign=top>
        <img src="2020-Amazon-AWS.jpg" width=400>
    </td>
</tr></table>


  {% include footer.html %}

  </body>
</html>
    

