---
---
{% include menu.html title="Presentation Databricks" %}
<hr align=left width=1000>

<div>
    <h1>Databricks Presentation</h1>
    <ul>
        <li>
            <a href="101.png" target="_blank">
                <img src="101.png" width="800px" alt="101.png">
            </a>
        </li>
        <li>
            <a href="102.png" target="_blank">
                <img src="102.png" width="800px" alt="102.png">
            </a>
        </li>
        <li>
            <a href="103.png" target="_blank">
                <img src="103.png" width="800px" alt="103.png">
            </a>
        </li>
        <li>
            <a href="104.png" target="_blank">
                <img src="104.png" width="800px" alt="104.png">
            </a>
        </li>
        <li>
            <a href="105.png" target="_blank">
                <img src="105.png" width="800px" alt="105.png">
            </a>
        </li>
        <li>
            <a href="106.png" target="_blank">
                <img src="106.png" width="800px" alt="106.png">
            </a>
        </li>
        <li>
            <a href="107.png" target="_blank">
                <img src="107.png" width="800px" alt="107.png">
            </a>
        </li>
        <li>
            <a href="108.png" target="_blank">
                <img src="108.png" width="800px" alt="108.png">
            </a>
        </li>
        <li>
            <a href="109.png" target="_blank">
                <img src="109.png" width="800px" alt="109.png">
            </a>
        </li>
        <li>
            <a href="110.png" target="_blank">
                <img src="110.png" width="800px" alt="110.png">
            </a>
        </li>
        <li>
            <a href="111.png" target="_blank">
                <img src="111.png" width="800px" alt="111.png">
            </a>
        </li>
        <li>
            <a href="112.png" target="_blank">
                <img src="112.png" width="800px" alt="112.png">
            </a>
        </li>
        <li>
            <a href="113.png" target="_blank">
                <img src="113.png" width="800px" alt="113.png">
            </a>
        </li>
        <li>
            <a href="114.png" target="_blank">
                <img src="114.png" width="800px" alt="114.png">
            </a>
        </li>
        <li>
            <a href="115.png" target="_blank">
                <img src="115.png" width="800px" alt="115.png">
            </a>
        </li>
        <li>
            <a href="116.png" target="_blank">
                <img src="116.png" width="800px" alt="116.png">
            </a>
        </li>
        <li>
            <a href="117.png" target="_blank">
                <img src="117.png" width="800px" alt="117.png">
            </a>
        </li>
        <li>
            <a href="118.png" target="_blank">
                <img src="118.png" width="800px" alt="118.png">
            </a>
        </li>
        <li>
            <a href="119.png" target="_blank">
                <img src="119.png" width="800px" alt="119.png">
            </a>
        </li>
        <li>
            <a href="120.png" target="_blank">
                <img src="120.png" width="800px" alt="120.png">
            </a>
        </li>
        <li>
            <a href="121.png" target="_blank">
                <img src="121.png" width="800px" alt="121.png">
            </a>
        </li>
        <li>
            <a href="122.png" target="_blank">
                <img src="122.png" width="800px" alt="122.png">
            </a>
        </li>
        <li>
            <a href="123.png" target="_blank">
                <img src="123.png" width="800px" alt="123.png">
            </a>
        </li>
        <li>
            <a href="124.png" target="_blank">
                <img src="124.png" width="800px" alt="124.png">
            </a>
        </li>
        <li>
            <a href="125.png" target="_blank">
                <img src="125.png" width="800px" alt="125.png">
            </a>
        </li>
        <li>
            <a href="126.png" target="_blank">
                <img src="126.png" width="800px" alt="126.png">
            </a>
        </li>
        <li>
            <a href="127.png" target="_blank">
                <img src="127.png" width="800px" alt="127.png">
            </a>
        </li>
        <li>
            <a href="128.png" target="_blank">
                <img src="128.png" width="800px" alt="128.png">
            </a>
        </li>
        <li>
            <a href="129.png" target="_blank">
                <img src="129.png" width="800px" alt="129.png">
            </a>
        </li>
    </ul>
</div>


{% include footer.html %}

