---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Kevin Luzbetak Github Pages</title>
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% include menu.html %}

<h1>Python v3.12</h1>
<table width="900" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="Python-Programming-Language.html">Python Programming Language</a></li>
                <li><a href="Python-Function-OOP-Data-Structure.html">Python Function OOP Data Structure</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="?python-algorithms.py">Python Algorithms</a></li>
            </ul>
        </td>
    </tr>
</table>

<hr align=left width=900>

<h1>PySpark v3.5</h1>
<table width="900" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="?PySpark-Questions-Answers.html"> PySpark Questions Answers</a></li>
                <li><a href="?PySpark-Coding-Exercises.html">PySpark Coding Exercises</a></li>
            </ul>
        </td>            
        <td valign=top>
            <ul>
                <li><a href="?pyspark-databricks.html">PySpark Databricks</a></li>
                <li><a href="?pyspark_data_streaming.html">PySpark Data Streaming</a></li>
            </ul>
        </td>
    </tr>
</table>

<hr align=left width=900>

<h1>Apache Kafka</h1>
<table width="900" border="0">
    <tr>
        <td>
            <ul>
                <li><a href="?apache_kafka.html">Key Points of Apache Kafka</a></li>
            </ul>
        </td>
    </tr>
</table>

  {% include footer.html %}

  </body>
</html>
    

