---
---
{% include menu.html title="Kevin Luzbetak - Computer Science" %}

<hr align=left width=1100>
<h1 align=center>Machine Learning & Software Engineer Specialist</h1>
<!-- h1 align=center>Explore Kevin's GitHub Pages</h1 -->
<!-- p><hr align=left width=1100 -->



<table width="1100" border="0">
    <tr>
        <td valign=top width=80%>
            <img src="unlock-ai.png">
        </td>


        <td valign=top>
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="kevin-luzbetak-a49abb321" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/kevin-luzbetak-a49abb321?trk=profile-badge"></a></div>
        </td>
    </tr>
</table>

{% include footer.html %}

