---
---
{% include menu.html title="Programming Algorithms" %}
<hr align=left width=1100>
<p align=center><a href="https://codeshare.io/">CodeShare.io: Share Code in Real-time</a></p>
<p><hr align=left width=1100>
<h2>Python</h2>
<table width="1000" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="Python-Algorithms.html">Python Algorithms</a></a></li>
                <li><a href="Python-String-Algorithms.html">Python String Algorithms</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Python-Search-Algorithms.html">Python Search Algorithms</a></li>
                <li><a href="Python-Function-OOP-Data-Structure.html">Python Function OOP Data Structure</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Python-Programming-Language.html">Python Programming Language</a></li>
                <li><a href="Fibonacci-Generator.html">Code: Fibonacci Generator</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr align=left width=1100>
<h2>SQL Overview</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="sql-statements.html">SQL Statements</a></li>
                <li><a href="sql-overview.html">SQL Overview</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="Query-Performance.html">Query Performance</a></li>
                <li><a href="mysql-lag-function.html">MySQL LAG Function</a></li>
            </ul>
        </td>
    </tr>
</table>


<hr align=left width=1000>
<h2>PySpark Notebooks</h2>
<table width="1000" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="https://github.com/luzbetak/prototypes/tree/main/notebooks/dataset-analysis-training-model">Dataset Analysis for Training Model</a></li>
                <li><a href="https://github.com/luzbetak/prototypes/tree/main/notebooks/PySpark-Aggregation-Graph-Plotting.ipynb ">Aggregation Graph Plotting</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="https://github.com/luzbetak/prototypes/blob/main/golang/mysql/daily-price-increase/query-mysql.go">Golang: Query MySQL</a></li>
                <li><a href="https://github.com/luzbetak/prototypes/tree/main/word-processor">Python: Word Processor Application</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="https://github.com/luzbetak/prototypes/blob/main/golang/mysql/daily-price-increase/query-mysql.go">Golang: Query MySQL</a></li>
                <li><a href="https://github.com/luzbetak/prototypes/tree/main/word-processor">Python: Word Processor Application</a></li>
            </ul>
        </td>
    </tr>
</table>

<hr>
<h2>Python Computation</h2>
<table width="1000" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="/programming/ascii-number-scanner/">ASCII Generator and Scanner</a></a></li> 
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="/programming/questions/Transform-CSV-to-JSON.html">Transformaton from CSV to JSON</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="/programming/questions/Top-Selling-Products-By-Regions.html">Top Selling Products By Regions</a></li>
            </ul>
        </td>
    </tr>
</table>

{% include footer.html %}

