---
---
{% include menu.html title="Kevin Luzbetak - Computer Science" %}
<hr align=left width=1100>
<h1>Computer Vision</h1>
<hr align=left width=1100>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li>
                    <a href="https://github.com/luzbetak/computer-vision-pipeline" target="_blank"><strong>Computer Vision Pipeline</strong></a>
                    <span class="comment">Written as part of my Master's Degree in Computer Science at California Lutheran University (2014)</span>
                </li>

                <li><a href="https://github.com/luzbetak/computer-vision-pipeline/blob/master/src/processingpipeline/MedianFilter.java" taget="_blank">Median Filter</a></li>
                <li><a href="https://github.com/luzbetak/computer-vision-pipeline/blob/master/src/processingpipeline/Gaussian2D.java" taget="_blank">Gaussian 2D Kernel</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="https://github.com/luzbetak/computer-vision-pipeline/blob/master/src/processingpipeline/OtsuBinarize.java" taget="_blank">Otsu Binarization Method</a></li>
                <li><a href="https://github.com/luzbetak/computer-vision-pipeline/blob/master/src/processingpipeline/Percentile.java" taget="_blank">Calculate Percentiles</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="https://github.com/luzbetak/computer-vision-pipeline/blob/master/src/processingpipeline/Reflection.java" taget="_blank">Reflection Transformations</a></li>
                <li><a href="https://github.com/luzbetak/computer-vision-pipeline/blob/master/src/processingpipeline/Sobel.java" taget="_blank">Sobel Edge Detection Filter</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr>
<h2>Visualization</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="https://github.com/luzbetak/visualizations/blob/master/visualizing_bivariate_distribution.ipynb" taget="_blank">Normal Bivariate Distribution</a></li>
                <li><a href="https://github.com/luzbetak/visualizations/blob/master/color_palettes_seaborn.ipynb" taget="_blank">matplotlib</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="https://github.com/luzbetak/visualizations/blob/master/mapping/Plotting_GeoPandas.ipynb" taget="_blank">Mapping with GeoPandas</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="https://github.com/luzbetak/visualizations/blob/master/color_palettes_seaborn.ipynb" taget="_blank">Visualization Color_Palettes</a></li>
                <li><a href="https://github.com/luzbetak/visualizations/blob/master/Outliers_d3.js.ipynb" taget="_blank">Identifying and Analyzing Outliers</a></li>
            </ul>
        </td>
    </tr>
</table>
<p><hr>

<h2>Tools, Models and Algorithms</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="Hugging-Face-Machine-Learning.html" taget="_blank">Hugging Face Machine Learning</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Stable-Diffusion-Web-UI.html" taget="_blank">Stable Diffusion</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Time-Complexity-Big-O-Notation.html" taget="_blank">Big O-Notation Time Complexity</a></li>
            </ul>
        </td>
    </tr>
</table>


{% include footer.html %}

