---
---
{% include menu.html title="Kevin Luzbetak - Computer Science" %}
<hr align=left width=1100>
<h1>Computer Vision</h1>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="Time-Complexity-Big-O-Notation.html" taget="_blank">Big O-Notation Time Complexity</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Stable-Diffusion-Web-UI.html" taget="_blank">Stable Diffusion</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Hugging-Face-Machine-Learning.html" taget="_blank">Hugging Face Machine Learning</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr>
<h2>Visualization</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="https://github.com/luzbetak/visualizations/blob/master/Outliers_d3.js.ipynb" taget="_blank">Identifying and Analyzing Outliers</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <li><a href="https://github.com/luzbetak/visualizations/blob/master/color_palettes_seaborn.ipynb" taget="_blank">matplotlib</a></li>
        </td>
        <td valign=top width=33%>
            <li><a href="https://github.com/luzbetak/visualizations/blob/master/visualizing_bivariate_distribution.ipynb" taget="_blank">Visualizing Bivariate Distribution.</a></li>
        </td
    </tr>
</table>

{% include footer.html %}

