---
---
{% include menu.html title="Programming" %}

<h1>Python</h1>
<table width="1000" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="Python-Programming-Language.html">Python Programming Language</a></li>
                <li><a href="Popular-Algorithms.html">Popular Algorithms</a></li>
                <li><a href="Python-Function-OOP-Data-Structure.html">Python Function OOP Data Structure</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="Python-Coding-Exercise-Algorithms.html">Python Coding Exercise Algorithms</a></li>
                <li><a href="Fibonacci-Generator.html">Code: Fibonacci Generator</a></li>
            </ul>
        </td>
    </tr>
</table>
<hr align=left width=1000>

<h1>SQL</h1>
<table width="1000" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="mysql-lag-function.html">MySQL LAG Function</a></li>
            </ul>
        </td>            
        <td valign=top>
        </td>
    </tr>
</table>

<hr align=left width=1000>
<h1>Prototypes</h1>
<table width="1000" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="Sudoku-Board-Verification.html"><font color=red>Sudoku Board Verification</font></a></li>
                <li><a href="https://github.com/luzbetak/prototypes/blob/main/golang/mysql/daily-price-increase/query-mysql.go">Golang: Query MySQL</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="https://github.com/luzbetak/prototypes/tree/main/notebooks/PySpark-Aggregation-Graph-Plotting.ipynb ">PySpark: Aggregation Graph Plotting</a></li>
                <li><a href="https://github.com/luzbetak/prototypes/tree/main/word-processor">Python: Word Processor Application</a></li>
            </ul>
        </td>
    </tr>
</table>

  {% include footer.html %}

  </body>
</html>
    

