<!-- _includes/menu.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ include.title }}</title>
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/linux2.png" type="image/png" sizes="32x32">
</head>

<body>
  <!-- Navigation Menu -->
  <div class="navbar">
    <a id="home" href="http://luzbetak.github.io/">Kevin Luzbetak</a>
    <a id="programming" href="http://luzbetak.github.io/programming">Programming</a>
    <a id="teams" href="http://luzbetak.github.io/teams">Teams</a>
    <a href="https://github.com/luzbetak" target="_blank">Github</a>
  </div>

  <script>
    // Get the current path and normalize it
    const currentPath = window.location.pathname;

    // Function to remove trailing slash if exists
    const normalizePath = (path) => path.replace(/\/$/, '');

    // Highlight the correct link based on the current path
    if (normalizePath(currentPath) === '' || normalizePath(currentPath) === '/index.html') {
      document.getElementById('home').classList.add('active'); // Add 'active' class to Kevin Luzbetak
    } else if (normalizePath(currentPath).includes('/programming')) {
      document.getElementById('programming').classList.add('active'); // Add 'active' class to Programming
    } else if (normalizePath(currentPath).includes('/teams')) {
      document.getElementById('teams').classList.add('active'); // Add 'active' class to Teams
    }
  </script>
</body>
</html>

