<!-- _includes/menu.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ include.title }}</title>
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- link rel="icon" href="/favicon.ico" type="image/x-icon" -->
  <!-- Favicon in PNG format for modern browsers -->
  <link rel="icon" href="/linux2.png" type="image/png" sizes="32x32">
</head>
<body>
  <!-- Navigation Menu -->
  <table width="900">
    <tr>
      <td>
        <div class="navbar">
          <a href="http://luzbetak.github.io/">Programming</a>
          <a href="http://luzbetak.github.io/machine-learning">Machine Learning</a>
          <a href="https://github.com/luzbetak" target="_blank">Github</a>
        </div>
      </td>
    </tr>
  </table>

