<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ include.title }}</title>
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/linux2.png" type="image/png" sizes="32x32">
</head>

<body>
  <!-- Navigation Menu -->
  <div class="navbar">
    <a id="home"        href="http://luzbetak.github.io/">Kevin Luzbetak</a>
    <a id="programming" href="http://luzbetak.github.io/programming">Programming</a>
    <a id="sql"         href="http://luzbetak.github.io/sql">SQL</a>
    <a id="databricks"  href="http://luzbetak.github.io/databricks">Databricks</a>
    <a id="aws"         href="http://luzbetak.github.io/aws">AWS</a>
    <a id="teams"       href="http://luzbetak.github.io/teams">Teams</a>
    <a href="https://github.com/luzbetak" target="_blank">Github</a>
  </div>

  <script>
    // Get current path
    const currentPath = window.location.pathname;

    // Highlight the correct link based on the current path
    if (currentPath === '/' || currentPath === '/index.html') { document.getElementById('home').style.backgroundColor = '#555'; } 
    else if (currentPath.includes('programming')) { document.getElementById('programming').style.backgroundColor      = '#555'; }
    else if (currentPath.includes('sql'))         { document.getElementById('sql').style.backgroundColor              = '#555'; }
    else if (currentPath.includes('databricks'))  { document.getElementById('databricks').style.backgroundColor       = '#555'; }
    else if (currentPath.includes('aws'))         { document.getElementById('aws').style.backgroundColor              = '#555'; }
    else if (currentPath.includes('teams'))       { document.getElementById('teams').style.backgroundColor            = '#555'; }
  </script>
</body>
</html>

