---
---
{% include menu.html title="Kevin Luzbetak's Links" %}

<!-- img src="/images/parallel-distributed-computing-2008.jpg" width=1000 -->
<hr align=left width=1000>
<h1 align=center>Explore Kevin's GitHub Pages</h1>
<p align=center><a href="https://www.linkedin.com/in/kevin-luzbetak-a49abb321/">
    Kevin Luzbetak's LinkedIn Profile</a></p>

<p><hr align=left width=1000>
<h2>Machine Learning</h2>

<table width="1000" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="https://colab.research.google.com/" taget="_blank">colab.research.google.com/</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="https://github.com/luzbetak/machine-learning/tree/main/naive-bayes-classifier" taget="_blank">Naive Bayes Classifier</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="https://github.com/luzbetak/machine-learning/tree/main/confusion-matrix" taget="_blank">Confusion Matrix</a></li>
            </ul>
        </td>
    </tr>
</table>

<hr align=left width=1000>

<h2>Computer Vision</h2>
<table width="1000" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="https://github.com/luzbetak/computer-vision-pipeline" taget="_blank"><font color=red>Computer Vision Pipeline</font></a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="https://github.com/luzbetak/computer-vision-pipeline/blob/master/src/processingpipeline/OtsuBinarize.java" taget="_blank">Otsu Binarization Method</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="https://github.com/luzbetak/computer-vision-pipeline/blob/master/src/processingpipeline/Reflection.java" taget="_blank">Reflection Transformations</a></li>
            </ul>
        </td>
    </tr>
</table>

  {% include footer.html %}

  </body>
</html>
    

