---
---
{% include menu.html title="Kevin Luzbetak Github Pages" %}

<img src="parallel-distributed-computing-2008.jpg">

<h1>Machine Learning</h1>
<table width="900" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="Python-Programming-Language.html">Python Programming Language</a></li>
                <li><a href="Python-Function-OOP-Data-Structure.html">Python Function OOP Data Structure</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="Python-Coding-Exercise-Algorithms.html">Python Coding Exercise Algorithms</a></li>
            </ul>
        </td>
    </tr>
</table>

<!-- hr align=left width=900 -->

  {% include footer.html %}

  </body>
</html>
    

