---
---
{% include menu.html title="Kevin Luzbetak Github Pages" %}

<img src="parallel-distributed-computing-2008.jpg" width=900>

<h1>Machine Learning</h1>
<table width="1100" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="https://github.com/luzbetak/machine-learning/tree/main/confusion-matrix">Confusion Matrix</a></li>
                <li><a href="https://github.com/luzbetak/machine-learning/tree/main/k-means-clustering">K-Means Clustering</a></li>
                <li><a href="https://github.com/luzbetak/machine-learning/tree/main/naive-bayes-classifier">Naive Bayes Classifier</a></li>
                <li><a href="https://github.com/luzbetak/machine-learning/tree/main/random-forest-classifier">Random Forest Classifier</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="https://github.com/luzbetak/machine-learning/tree/main/cosine-similarity">Cosine Similarity</a></li>
                <li><a href="https://github.com/luzbetak/machine-learning/tree/main/cosine-similarity-euclidean-distance">Euclidean Distance</a></li>
                <li><a href="https://github.com/luzbetak/machine-learning/tree/main/learning-algorithms-id3-j48">Learning Algorithms ID3 J48</a></li>
            </ul>
        </td>
    </tr>
</table>

<!-- hr align=left width=900 -->

  {% include footer.html %}

  </body>
</html>
    

