---
---
{% include menu.html title="DevOps" %}
<hr>
    <h3>Linux Admin Tools</h3>
    <table width="1000" border="0">
        <tr>
            <td valign=top width=33%>
                <ul>
                    <li><a href="systemd-services.html">System Daemon Services</a></li>
                    <li><a href="block-all-non-us-traffic.html">Block All Non US Traffic</a></li>
                </ul>
            </td>
            <td valign=top width=33%>
                <ul>
                    <li><a href="bashrc.html">.bashrc - search, archive</a></li>
                </ul>
            </td>
            <td valign=top width=33%>
                <ul>
                    <li><a href="gitrc.html">.gitrc - branching</a></li>
                </ul>
            </td>
        </tr>
    </table>
<hr>
    <h3>Software Delivey and Containerization</h3>
    <table width="1000" border="0">
        <tr>
            <td valign=top width=33%>
                <ul>
                    <li><a href="software-delivery.html">Popular Software Delivery</a></li>
                    <li><a href="github.html">Github Source Control Management</a></li>
                </ul>
            </td>
            <td valign=top width=33%>
                <ul>
                    <li><a href="docker.html">Docker</a>
                        <span class="comment">Platform to automate the deployment of applications inside  portable containers, ensuring consistency across different environments.</span> 
                    </li>
                </ul>
            </td>
            <td valign=top width=33%>
                <ul>
                    <li><a href="Kubernetes.html">Kubernetes</a>
                        <span class="comment">Platform to automates the deployment, scaling, and management of containerized applications across clusters of machines.</span> 
                    </li>
                </ul>
            </td>
        </tr>
    </table>

<hr>
    <h3>Workflow Management</h3>
    <table width="1000" border="0">
        <tr>
            <td valign=top>
                <ul>
                    <li><a href="apache-airflow.html">Apache Airflow</a></li>
                </ul>
            </td>
            <td valign=top>
                <ul>
                    <li><a href="apache-nifi.html">Apache NiFi</a></li>
                </ul>
            </td>
        </tr>
    </table>

<hr>
    <h3>Mac OS Platform</h3>
    <table width="1000" border="0">
        <tr>
            <td valign=top width=33%> 
                <ul>
                    <li><a href="https://brew.sh/">Brew: Package Manager for macOS </a></li>
                    <li><a href="Uninstall-Google-Chrome-on-macOS.html">Uninstall Google Chrome on macOS</a></li>
                </ul>
            </td>
            <td valign=top width=33%>
                <ul>
                    <li><a href="https://github.com/ohmybash/oh-my-bash">Oh MyBash</a></li>
                </ul>
            </td>
            <td valign=top width=33%>
                <ul>
                    <li><a href="Completely-Delete-Google-Chrome-from-iMac.html">Delete Google Chrome from iMac</a></li>
                </ul>
            </td>
        </tr>
    </table>

{% include footer.html %}
