---
---
{% include menu.html title="AWS Kinesis or AWS Data Streams" %}
<hr align=left width=1100>

<section>
  <h3>AWS Kinesis or AWS Data Streams</h3>
<p><hr align=left width=1100>
  <p>AWS Kinesis and AWS Data Streams refer to the same service, with "AWS Kinesis Data Streams" being the full name. It's a service designed for real-time data streaming, allowing you to collect, process, and analyze data as it arrives.</p>

<p><hr align=left width=1100>
  <h4>Key Features:</h4>
  <ul>
    <li><strong>Real-Time Processing:</strong> Allows ingestion and processing of large streams of data in real-time.</li>
    <li><strong>Scalability:</strong> Easily scales to handle any volume of streaming data.</li>
    <li><strong>Integration:</strong> Can be integrated with other AWS services like AWS Lambda, Amazon S3, and AWS Redshift for processing and storing data.</li>
  </ul>

<p><hr align=left width=1100>
  <h4>Common Use Cases:</h4>
  <ul>
    <li><strong>Real-Time Analytics:</strong> Analyzing data as it arrives to generate insights on the fly.</li>
    <li><strong>Event Tracking:</strong> Tracking user interactions in real-time for monitoring and personalization.</li>
    <li><strong>Log and Metrics Ingestion:</strong> Collecting logs and metrics from distributed applications for centralized processing.</li>
  </ul>

  <p>In an ETL pipeline, Kinesis Data Streams can be used in the "Extract" phase to collect data from various sources and provide it in real-time for further processing.</p>
</section>


{% include footer.html %}

  </body>
</html>
    

