---
---
{% include menu.html title="Amazon AWS" %}

<hr align=left width=1100>
<h1>Amazon AWS</h1>
<table width="1100" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="ETL-Pipeline-AWS.html">Building ETL Pipeline on AWS</a></li>
                <li><a href="Amazon-S3.html">Amazon S3 (Simple Storage Service)</a></li>
                <li><a href="AWS-Kinesis-Data-Streams.html">AWS Kinesis Data Streams</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="Lambda-Serverless-Computing.html">Lambda Serverless Computing</a></li>
            </ul>
        </td>
    </tr>
</table>

{% include footer.html %}

  </body>
</html>
    

