---
---
{% include menu.html title="Amazon AWS" %}

<hr align=left width=1000>
<h1>Amazon AWS</h1>
<table width="1000" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="ETL-Pipeline-AWS.html">Building ETL Pipeline on AWS</a></li>
                <li><a href="Kinesis-Data-Streams.html">Kinesis Data Streams</a></li>
                <li><a href="AWS-S3.html">AWS S3</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="Lambda-Serverless-Computing.html">Lambda Serverless Computing</a></li>
            </ul>
        </td>
    </tr>
</table>

{% include footer.html %}

  </body>
</html>
    

