---
---
{% include menu.html title="DevOps" %}
<hr>
    <h3>Linux Admin Tools</h3>
    <table width="1000" border="0">
        <tr>
            <td valign=top width=50%>
                <ul>
                    <li><a href="systemd-services.html">System Daemon Services</a></li>
                    <li><a href="block-all-non-us-traffic.html">Firewall: Block All Non US Traffic</a></li>
                </ul>
            </td>
            <td valign=top width=50%>
                <ul>
                    <li><a href="bashrc.txt">.bashrc</a></li>
                    <li><a href="gitrc.txt">.gitrc</a></li>
                    <li><a href="vimrc.txt">.vimrc</a></li>
                </ul>
            </td>
        </tr>
    </table>
<hr>
    <h3>Media</h3>
    <table width="1000" border="0">
        <tr>
            <td valign=top>
                <ul>
                    <li><a href="/platform/youtube">Machine Learning AI</a></li>
                </ul>
            </td>
            <td valign=top>
            </td>
        </tr>
    </table>

{% include footer.html %}
