---
---
{% include menu.html title="Databricks" %}

<h1>Databricks</h1>
<table width="1100" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="PySpark-Databricks.html">PySpark Databricks</a></li>
                <li><a href="Databricks-Delta-Lake.html">Databricks Delta Lake</a></li>
                <li><a href="Column-Shuffle-Repartition.html">Column Shuffle Repartition</a></li>

            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="Managed-External-Live-Tables.html">Delta Live, Managed, External Tables in Databricks</a></li>
                <li><a href="Managed-External-Tables.html">Managed and External Tables in Delta Lake</a></li>
                <li><a href="Delta-Live-Tables.html">Delta Live Tables (DLT) in Databricks</a></li>
            </ul>
        </td>
    </tr>
</table>

<h1>Medallion Architecture</h1>
<table width="1100" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="Medallion-Architecture.html">Medallion Architecture Overview</a></li>
                <li><a href="Medallion-Architecture-Partitioning-Code.html">Code: Medallion and Partitioning</a></li>

            </ul>
        </td>
    </tr>
</table>

  {% include footer.html %}

  </body>
</html>
