---
---
{% include menu.html title="Databricks" %}

<hr>
<h2>Slowly Changing Dimensions (SCD)</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="Databricks-CDC-Change-Data-Capture.html">Databricks CDC (Change Data Capture)</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="DLT-SCD-Type2.html">Delta Live Tables (DLT) – Slowly Changing Dimensions SCD Type 2</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="When-Top-Use-Delta-Live-Tables.html">When Top Use Delta Live Tables</a></li>
            </ul>
        </td>
    </tr>
</table>


<hr>
<h2>Medallion Architecture</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="Medallion-Architecture.html">Medallion Architecture</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Medallion-Architecture-Partitioning-Code.html">Code: Partitioning</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="slideshow">Databricks Lakehouse Slideshow</a></li>
            </ul>
        </td>
    </tr>
</table>

<hr><h2>Apache Spark - Performance</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="Apache-Spark.html">Apache Spark</a></li>
                <li><a href="PySpark-S3-Small-Files-Compaction.html">PySpark S3 Small Files Compaction</a></li>
            </ul>
        </td>            
        <td valign=top width=33%>
            <ul>
                <li><a href="Databricks-Tableau-Performance.html">Databricks & Tableau Performance</a></li>
                <li><a href="Star-Schema-Data-Migration-Snowflake-to-Databricks.html">Star-Schema Data Migration: Snowflake to Databricks</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Data-Migration-from-Snowflake-to-Databricks.html">Data-Migration from Snowflake to Databricks</a></li>
            </ul>
        </td>
    </tr>
</table>

<hr><h2>Databricks PySpark</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="Apache-Spark.html">Apache Spark</a></li>
                <li><a href="PySpark-Questions-Answers.html">PySpark Questions Answers</a></li>
                <li><a href="PySpark-Coding-Examples.html ">PySpark Coding Examples</a></li>
                <li><a href="PySpark-SQL-Functions-Parquet.html">PySpark SQL Functions Parquet</a></li>
                <li><a href="PySpark-Data-Streaming.html">PySpark Data Streaming</a></li>
            </ul>
        </td>            
        <td valign=top width=33%>
            <ul>
                <li><a href="Databricks-PySpark.html">PySpark Databricks</a></li>
                <li><a href="Databricks-Delta-Lake.html">Databricks Delta Lake</a></li>
                <li><a href="Column-Shuffle-Repartition.html">Column Shuffle Repartition</a></li>
                <li><a href="PySpark-Pivot-Table.html">PySpark Pivot Table</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Managed-External-Live-Tables.html">Delta Live, Managed, External Tables</a></li>
                <li><a href="Managed-External-Tables.html">Managed and External Tables</a></li>
                <li><a href="Delta-Live-Tables.html">Delta Live Tables (DLT)</a></li>
                <li><a href="/bricks/slideshow">Delta Lake Slideshow</a></li>
            </ul>
        </td>
    </tr>
</table>


{% include footer.html %}
