---
---
{% include menu.html title="Programming Languages" %}

<hr>
<h2>Python</h2>
<table width="1000" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="Implementing-API.html">Implementing API</a></li>
                <li><a href="New-Project-Design.html">New Project Design</a></li>
                <li><a href="FastAPI.html">Python FastAPI</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Python-Algorithms.html">Python Algorithms</a></li>
                <li><a href="Python-String-Algorithms.html">Python String Algorithms</a></li>
                <li><a href="Python-Search-Algorithms.html">Python Search Algorithms</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Python-Function-OOP-Data-Structure.html">Python Function OOP Data Structure</a></li>
                <li><a href="Python-Programming-Language.html">Python Programming Language</a></li>
                <li><a href="Fibonacci-Generator.html">Code: Fibonacci Generator</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr align=left width=1100>
<h2>SQL Overview</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="sql-statements.html">SQL Statements</a></li>
                <li><a href="sql-overview.html">SQL Overview</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="Query-Performance.html">Query Performance</a></li>
                <li><a href="mysql-lag-function.html">MySQL LAG Function</a></li>
            </ul>
        </td>
    </tr>
</table>




<hr>
<h2>Python Share Code</h2>
<table width="1000" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="https://codeshare.io/">CodeShare.io: Share Code in Real-time</a></li>
                <li><a href="/programming/ascii-number-scanner/">ASCII Generator and Scanner</a></a></li> 
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="/programming/transformation/Transform-CSV-to-JSON.html">Transformaton from CSV to JSON</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="/programming/transformation/Top-Selling-Products-By-Regions.html">Top Selling Products By Regions</a></li>
            </ul>
        </td>
    </tr>
</table>

 <hr>
    <h2>Workflow Management</h2>
    <table width="1000" border="0">
        <tr>
            <td valign=top>
                <ul>
                    <li><a href="apache-airflow.html">Apache Airflow</a></li>
                </ul>
            </td>
            <td valign=top>
                <ul>
                    <li><a href="apache-nifi.html">Apache NiFi</a></li>
                </ul>
            </td>
        </tr>
    </table>

<hr>
    <h2>Mac OS Platform</h2>
    <table width="1000" border="0">
        <tr>
            <td valign=top width=33%>
                <ul>
                    <li><a href="https://brew.sh/">Brew: Package Manager for macOS </a></li>
                    <li><a href="Uninstall-Google-Chrome-on-macOS.html">Uninstall Google Chrome on macOS</a></li>
                </ul>
            </td>
            <td valign=top width=33%>
                <ul>
                    <li><a href="https://github.com/ohmybash/oh-my-bash">Oh MyBash</a></li>
                </ul>
            </td>
            <td valign=top width=33%>
                <ul>
                    <li><a href="Completely-Delete-Google-Chrome-from-iMac.html">Delete Google Chrome from iMac</a></li>
                </ul>
            </td>
        </tr>
    </table>

<hr>
    <h2>Software Delivey and Containerization</h2>
    <table width="1000" border="0">
        <tr>
            <td valign=top width=33%>
                <ul>
                    <li><a href="software-delivery.html">Popular Software Delivery</a></li>
                    <li><a href="github.html">Github Source Control Management</a></li>
                </ul>
            </td>
            <td valign=top width=33%>
                <ul>
                    <li><a href="docker.html">Docker</a>
                        <span class="comment">Platform to automate the deployment of applications inside  portable containers, ensuring consistency across different environments.</span>
                    </li>
                </ul>
            </td>
            <td valign=top width=33%>
                <ul>
                    <li><a href="Kubernetes.html">Kubernetes</a>
                        <span class="comment">Platform to automates the deployment, scaling, and management of containerized applications across clusters of machines.</span>
                    </li>
                </ul>
            </td>
        </tr>
    </table>

{% include footer.html %}

