---
---
{% include menu.html title="Kevin Luzbetak - Computer Science" %}

<hr align=left width=1100>
<p><hr>
<h2>Natural Language Processing: LLMs, RAG, FAISS, Embeddings</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="Retrieval-Augmented-Generation.html">Retrieval-Augmented Generation (RAG)</a>
                <li><a href="Retrieval-Augmented-Generation-Workflow.html">Retrieval-Augmented Generation Workflow (RAG)</a>
                <li><a href="faiss">FAISS: Semantic Query Parsing and Meaning</a></li>
                <li><a href="https://tokenvisualizer.netlify.app/">Text Tokens Embeddings</a>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="NVIDIA-GeForce-RTX-3060-Installation.html">NVIDIA GeForce RTX 3060 Installation</a></li>
                <li><a href="Recompile-FAISS-GPU-Installation.html">Recompile FAISS GPU Installation</a></li>
                <li><a href="Unstructured-Data-Indexing.html">Unstructured Data Indexing</a>
                    <li><a href="Streamlit-app.html">Streamlit</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="TF-IDF.html">TF-IDF</a>
                <span class="comment">(Term Frequency-Inverse Document Frequency)</span></li>
                <li><a href="bm25-probabilistic-information-retrieval-model.html">BM25 (Best Matching 25)</a>
                <span class="comment">BM25 (Best Matching 25) probabilistic information retrieval model.</span></li>
                <li><a href="python-whoosh.html">Whoosh BM25</a>
                <span class="comment">Python B-Tree Index using BM25</span></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr>
<h2>Machine Learning</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="PyTorch.html"><font color=red>PyTorch</font> Library</a>
                <span class="comment">Machine Learning, Deep Learning, Natural Language Processing (NLP), and Computer Vision.</span></li>
                <li><a href="Keras.html" taget="_blank"><font color=red>Keras</font> - Deep Learning</a>
                    <span class="comment">Training Neural Networks</span></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Scikit-learn.html" taget="_blank"><font color=red>Scikit-learn</font></a>
                <span class="comment">Supervised and Unsupervised Learning</span></li>
                <li><a href="Random-Forest-Classifier-Model.html">Random Forest Classifier</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Tensors-Machine-Learning.html" taget="_blank"><font color=red>Tensors</font> Multi-Dimensional Arrays</a>
                    <span class="comment"> Images (3D), Videos (4D), NLP, (High-Dimensional)</span></li>
                <li><a href="LanceDB-Vector-Database.html">LanceDB Vector Database</a></li>
                <li><a href="FAISS-Vector-Database.html ">FAISS Vector Database</a></li>
            </ul>
        </td>
    </tr>
</table>



<p><hr>
<h2>Processing Data Files for Large Language Models (LLMs)</h3>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="PDF-Split-File.html">PDF File Split</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="PDF-Convert-to-Text-File.html">PDF Convertion to Text File</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Ms-Word-Document-Processing.html">MS Word Processing for RAG</a>
            </ul>
        </td>
    </tr>
</table>


<p><hr>

<h1>Text Embeddings</h1>
<tr>
<h3>Cosine Similarity Calculation</h3>
<pre><code class='language-python'>similarity       = 1 - cosine_distance
MODEL_NAME       = "sentence-transformers/all-MiniLM-L6-v2"
model            = SentenceTransformer('sentence-transformers/all-MiniLM-L6-v2')

# VECTOR_DIMENSION = 384 is fixed property of the "all-MiniLM-L6-v2" model
# Each text input will be converted into a vector with exactly 384 numbers
# ANY text - single word, a sentence, a paragraph, or a chunk of text will 
# be converted into exactly 384 numbers by the model.
VECTOR_DIMENSION = 384

# Models and their dimensions
# "all-MiniLM-L6-v2"                      -> 384 dimensions
# "all-mpnet-base-v2"                     -> 768 dimensions
# "all-MiniLM-L12-v2"                     -> 384 dimensions
# "paraphrase-multilingual-MiniLM-L12-v2" -> 384 dimensions</code></pre>

<img src="/images/cosine_similarity_heatmap.png" width=1100>
<p><hr>
<h2>Natural Language Processing (NLP) - Natural Language Understanding (NLU)</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="https://spacy.io/usage">Spacy (NLP)</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="PyTorch-Sentiment-Analysis-Model.html"><font color=red>PyTorch</font> Sentiment Analysis Model</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Gunning-Fog-Index.html">Gunning Fog Index</a></li>
            </ul>
        </td>
    </tr>
</table>
<img src="/images/nlp-nlu.png" width=1100>



{% include footer.html %}

