---
---
{% include menu.html title="Big Data" %}
<hr align=left width=1100>
<h1 align=center>Big Data: Massive Datasets for Advanced Analytics</h1>

<p><hr align=left width=1100>
<h2>PySpark Databricks</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="PySpark-Questions-Answers.html">PySpark Questions Answers</a></li>
                <li><a href="PySpark-Coding-Examples.html ">PySpark Coding Examples</a></li>
                <li><a href="PySpark-SQL-Functions-Parquet.html">SQL Functions Parquet</a></li>
                <li><a href="PySpark-Data-Streaming.html">Data Streaming</a></li>
            </ul>
        </td>            
        <td valign=top width=33%>
            <ul>
                <li><a href="Databricks-PySpark.html">PySpark Databricks</a></li>
                <li><a href="Databricks-Delta-Lake.html">Databricks Delta Lake</a></li>
                <li><a href="Column-Shuffle-Repartition.html">Column Shuffle Repartition</a></li>
                <li><a href="PySpark-Pivot-Table.html">Pivot Table</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Managed-External-Live-Tables.html">Delta Live, Managed, External Tables in Databricks</a></li>
                <li><a href="Managed-External-Tables.html">Managed and External Tables in Delta Lake</a></li>
                <li><a href="Delta-Live-Tables.html">Delta Live Tables (DLT) in Databricks</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr align=left width=1100>
<h2>Medallion Architecture</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="Medallion-Architecture.html">Medallion Architecture Overview</a></li>
                <li><a href="Medallion-Architecture-Partitioning-Code.html">Code: Medallion and Partitioning</a></li>

            </ul>
        </td>
    </tr>
</table>


<p><hr align=left width=1100>
<h2>SQL Overview</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="Query-Performance.html"><font color=red>Query Performance</font></a></li>
                <li><a href="sql-statements.html">SQL Statements</a></li>
                <li><a href="sql_overview.html">SQL Overview</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="sql-create-view.html">SQL Create View</a></li>
                <li><a href="mysql-lag-function.html">MySQL LAG Function</a></li>
            </ul>
        </td>
    </tr>
</table>


<p><hr align=left width=1100>
<h2>Relational Databases - RDBMS</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="RDBMS-Schemas.html">RDBMS Schemas</a></li>
                <li><a href="Relational-Databases.html">Relational Databases</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="RDBMS-Star-Schema.html">RDBMS Star Schema</a></li>
                <li><a href="RDBMS-Snowflake-Schema.html">RDBMS Snowflake Schema</a></li>
            </ul>
        </td>
    </tr>
</table>


<p><hr align=left width=1100>
<h2>Apache Kafka</h2>
<table width="1100" border="0">
    <tr>
        <td>
            <ul>
                <li><a href="Apache-Kafka.html">Key Points of Apache Kafka</a></li>
            </ul>
        </td>
        <td>
            <ul>
                <li><a href="Kafka-Producer-Consumer.html">Kafka Producer Consumer</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr align=left width=1100>
<h2>Large-scale data ingestion</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="Apache-Hudi2.html">Apache Hudi</a></li>
                <li><a href="Apache-Iceberg2.html">Analytics Apache Iceberg</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="Apache-Parquet2.html">Apache Parquet</a></li>
                <li><a href="Large-Scale-Data-Ingestion2.html">Large Scale Data Ingestion</a></li>
            </ul>
        </td>
    </tr>
</table>



<p><hr align=left width=1100>
<h2>Snowflake</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="data-warehouse-architecture.html">Data Warehouse Architecture</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr align=left width=1100>
<h2>Graph Databases</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="Graph-Databases-ArgoDB-Neo4j.html">ArgoDB Neo4j</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="GraphQL.html">GraphQL</a></li>
            </ul>
        </td>
    </tr>
</table>


{% include footer.html %}

  </body>
</html>

