---
---
{% include menu.html title="SQL Overview" %}

<hr align=left width=1000>
<h1>Apache Kafka</h1>
<table width="900" border="0">
    <tr>
        <td>
            <ul>
                <li><a href="Apache-Kafka.html">Key Points of Apache Kafka</a></li>
            </ul>
        </td>
        <td>
            <ul>
                <li><a href="Kafka-Producer-Consumer.html">Kafka Producer Consumer</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr align=left width=1000>
<h1>Large-scale data ingestion</h1>
<table width="1000" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="Apache-Hudi2.html">Apache Hudi</a></li>
                <li><a href="Apache-Iceberg.html">Analytics Apache Iceberg</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="Apache-Parquet.html">Apache Parquet</a></li>
                <li><a href="large-scale-data-ingestion.html">Large Scale Data Ingestion</a></li>
            </ul>
        </td>
    </tr>
</table>



<p><hr align=left width=1000>
<h1>Snowflake</h1>
<table width="1000" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="data-warehouse-architecture.html">Data Warehouse Architecture</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr align=left width=1000>
<h1>Relational Databases</h1>
<table width="1000" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="relational_databases.html">Relational Databases</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="sql_query_optimization.html">SQL Query Optimization</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr align=left width=1000>
<h1>SQL Overview</h1>
<table width="1000" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="sql-statements.html">SQL Statements</a></li>
                <li><a href="sql_overview.html">SQL Overview</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="sql_query_optimization.html">SQL Query Optimization</a></li>
                <li><a href="sql-create-view.html">SQL Create View</a></li>
                <li><a href="mysql-lag-function.html">MySQL LAG Function</a></li>
            </ul>
        </td>
    </tr>
</table>

  {% include footer.html %}

  </body>
</html>

