---
---
{% include menu.html title="Big Data" %}
<hr align=left width=1100>
<h1 align=center>Big Data</h1>
<p><hr align=left width=1100>

<table width="1100" border="0">
    <tr>
        <td>
            <ul>
                <li><a href="Apache-Kafka.html">Key Points of Apache Kafka</a></li>
            </ul>
        </td>
        <td>
            <ul>
                <li><a href="Kafka-Producer-Consumer.html">Kafka Producer Consumer</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr align=left width=1000>
<h2>Large-scale data ingestion</h2>
<table width="1000" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="Apache-Hudi2.html">Apache Hudi</a></li>
                <li><a href="Apache-Iceberg2.html">Analytics Apache Iceberg</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="Apache-Parquet2.html">Apache Parquet</a></li>
                <li><a href="Large-Scale-Data-Ingestion2.html">Large Scale Data Ingestion</a></li>
            </ul>
        </td>
    </tr>
</table>



<p><hr align=left width=1000>
<h2>Snowflake</h2>
<table width="1000" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="data-warehouse-architecture.html">Data Warehouse Architecture</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr align=left width=1000>
<h2>Relational Databases - RDBMS</h2>
<table width="1000" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="RDBMS-Schemas.html">RDBMS Schemas</a></li>
                <li><a href="Relational-Databases.html">Relational Databases</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="RDBMS-Star-Schema.html">RDBMS Star Schema</a></li>
                <li><a href="RDBMS-Snowflake-Schema.html">RDBMS Snowflake Schema</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr align=left width=1000>
<h2>SQL Overview</h2>
<table width="1000" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="sql-statements.html">SQL Statements</a></li>
                <li><a href="sql_overview.html">SQL Overview</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="Query-Optimization2.html">SQL Query Optimization</a></li>
                <li><a href="sql-create-view.html">SQL Create View</a></li>
                <li><a href="mysql-lag-function.html">MySQL LAG Function</a></li>
            </ul>
        </td>
    </tr>
</table>

{% include footer.html %}

  </body>
</html>

