---
---
{% include menu.html title="Programming Algorithms" %}
<hr align=left width=1100>
<p><hr align=left width=1100>
<h2>ASCII Number Generator and Scanner</h2>
<table width="1000" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="/programming/ascii-number-scanner/ASCII-Generator-Numbers.html">ASCII Generator Numbers</a></a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="/programming/ascii-number-scanner/ASCII-Number-Parser.html">ASCII-Number-Parser.html</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="/programming/ascii-number-scanner/ASCII-Number-Fixer.html">ASCII-Number-Fixer.html</a></li>
            </ul>
        </td>
    </tr>
</table>

{% include footer.html %}

