---
---
{% include menu.html title="Big Data" %}
<hr align=left width=1100>

<h2>Data Architectures</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="Data-Fabric-vs-Data-Mesh.html">Data Fabric vs Data Mesh</font></a>
                    <span class="comment">
                        <strong>Data Fabric</strong> - Centralized Approach<br>
                        <strong>Data Mesh</strong> - Decentralized Ownership<p>
                        Data Mesh architecture has multiple Data Fabrics.
                </li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Data-Mesh-Decentralized-Architecture.html">Data Mesh Decentralized Architecture</font></a>
                <span class="comment">Decentralized approach to managing data, distributing data ownership to domain teams while ensuring strong governance and accessibility across the organization.</span></li>
                </li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Snowflake-Architecture.html">Inmon & Kimball Architecture</font></a>
                    <span class="comment"><strong>Inmon (Top-Down) Centralized</strong>, normalized enterprise data warehouse
                     <br><strong>Kimball (Bottom-Up)</strong> Dimensional modeling approach using denormalized data marts:</span></li>
                </li>
            </ul>
        </td>
    </tr>
</table>


<p><hr align=left width=1100>
<h2>Snowflake</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top>
        <td valign=top width=33%>
            <ul>
                <li><a href="Snowflake-Architecture.html">Snowflake Architecture</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="/data/collibra">Collibra Data Quality</a></li>
                <li><a href="/data/collibra/slideshow.html">Collibra Slideshow</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr align=left width=1100>
<h2>Apache Kafka</h2>
<table width="1100" border="0">
    <tr>
        <td>
            <ul>
                <li><a href="Apache-Kafka.html">Key Points of Apache Kafka</a></li>
            </ul>
        </td>
        <td>
            <ul>
                <li><a href="Kafka-Producer-Consumer.html">Kafka Producer Consumer</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr align=left width=1100>
<h2>Large-scale data ingestion</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="Apache-Hudi.html">Apache Hudi</a></li>
                <li><a href="Apache-Iceberg.html">Analytics Apache Iceberg</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="Apache-Parquet.html">Apache Parquet</a></li>
                <li><a href="Large-Scale-Data-Ingestion2.html">Large Scale Data Ingestion</a></li>
            </ul>
        </td>
    </tr>
</table>




<p><hr align=left width=1100>
<h2>Graph Databases</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="Graph-Databases-ArgoDB-Neo4j.html">ArgoDB Neo4j</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="GraphQL.html">GraphQL</a></li>
            </ul>
        </td>
    </tr>
</table>



{% include footer.html %}


