---
---
{% include menu.html title="Kevin Luzbetak - Computer Science" %}



<p><hr>
<h2>Machine Learning</h2>
<table width="1100" border="0">
        <td valign=top width=33%>
            <ul>
                <li><a href="https://github.com/luzbetak/machine-learning/tree/main/cosine-similarity" taget="_blank">Cosine Similarity</a></li>
                <li><a href="https://github.com/luzbetak/machine-learning/tree/main/cosine-similarity-euclidean-distance" taget="_blank">Euclidean Distance</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="https://github.com/luzbetak/machine-learning/tree/main/learning-algorithms-id3-j48" taget="_blank">Learning Algorithms ID3 J48</a></li>
                <li><a href="https://github.com/luzbetak/machine-learning/tree/main/perceptron-learning" taget="_blank">Perceptron Learning</a></li>
                <li><a href="https://github.com/luzbetak/machine-learning/tree/main/k-means-clustering" taget="_blank">K-Means Clustering</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="https://github.com/luzbetak/machine-learning/tree/main/confusion-matrix" taget="_blank">Confusion Matrix</a></li>
                <li><a href="https://github.com/luzbetak/machine-learning/tree/main/random-forest-classifier" taget="_blank">Random Forest Classifier</a></li>
                <li><a href="https://github.com/luzbetak/machine-learning/tree/main/naive-bayes-classifier" taget="_blank">Naive Bayes Classifier</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr>
<h2>Natural Language Processing (NLP)</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="https://github.com/luzbetak/machine-learning/blob/main/natural-language-processing/nlp-pipeline.py" taget="_blank">Lingua Tagger Pipeline</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="https://github.com/luzbetak/machine-learning/tree/main/natural-language-processing/bloom-filter" taget="_blank">Bloom Filter</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="https://github.com/luzbetak/machine-learning/blob/main/natural-language-processing/spacy-natural-language-processing.py" taget="_blank">Spacy Tokenizer Tagger</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr>
<h2>Private - Github Repositories</h2>
<table width="1100" border="0">
        <td valign=top width=33%>
            <ul>
                <li><a href="https://github.com/luzbetak/rag-embedded-system" taget="_blank">RAG - Retrieval-Augmented Generation</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
            </ul>
        </td>
    </tr>
</table>


{% include footer.html %}

