---
---
{% include menu.html title="bashrc" %}
<hr align=left width=1000>

<h2>Search Code</h2>
<pre><code class=language-bash>#------------------------------------------------------------------#
# Write the template content into the file
#-------------------------------------------------------------------------------#
t() {
    local filename="$(echo "$*" | sed 's/ /-/g' | sed 's/-\+/-/g')"
    filename="${filename}.html"

    cat <<EOF > "$filename"
---
---
{% include menu.html title="$*" %}

<h1>$*</h1>


{% include footer.html %}
EOF
    vim "$filename"
}

#----------------------------------------------------------------------------------------#
# Archive File
#----------------------------------------------------------------------------------------#
a() {
    local filename=$(basename "$1")
    local date=$(date +"%Y%m%d-%H%M")
    local archive_dir="$HOME/.archive"
    local target_file="$archive_dir/$date.$filename"

    if [[ -e $1 ]]; then
        mkdir -p "$archive_dir"
        cp "$1" "$target_file"
        echo "Copied $1 to $target_file"
    else
        echo "Error: $1 does not exist."
    fi
    ls -l $archive_dir
}
#----------------------------------------------------------------------------------------#
# search one two
# search -tpy one two
#----------------------------------------------------------------------------------------#
function search() {

  if [ $# -eq 0 ]; then
    echo "Please provide at least one keyword as an argument."
    return 1
  fi

  if [[ $1 == -* ]]; then
    local cmd="rg ${1} -l '${2}'"
  else
    local cmd="rg -l '${1}'"
  fi

  shift

  for keyword in "$@"; do
    cmd+=" | xargs -I{} rg -l '${keyword}' {}"
  done

  eval $cmd
}
#----------------------------------------------------------------------------------------#
# Search all the python file for keyword open
# spy open py
#----------------------------------------------------------------------------------------#
function spy() {
  if [ $# -eq 0 ]; then
    echo "Please provide a keyword as the first argument."
    echo "Optionally, provide a file extension as the second argument."
    return 1
  fi

  if [ $# -eq 1 ]; then
      clear
      local cmd="rg -C3 ${1}"
  else
      clear
      local cmd="rg -t${2} -C3 ${1}"
  fi
  eval $cmd

  printf '%.0s-' {1..80}; echo
  echo "               " $cmd
  printf '%.0s-' {1..80}; echo

}
#----------------------------------------------------------------------------------------#
# Search Edit Python Files</h2>
#----------------------------------------------------------------------------------------#
search() {
 grep -rnw . -e "${1}" --include \*.py --exclude-dir='anaconda3/' --exclude-dir='.vim/'
}
#----------------------------------------------------------------------------------------#
replace() {
  find . -name "*.py" -not -path "*/anaconda3/*" -exec sed -i "s/${1}/${2}/g" {} \;
}
#----------------------------------------------------------------------------------------#
# Replace text with find and sed</h2>
# Linux
#----------------------------------------------------------------------------------------#
# find . -name "*.py" -type f -exec sed 's/kevinluzbetak/kluzbetak/g' {} \;

#----------------------------------------------------------------------------------------#
# Max OS
#----------------------------------------------------------------------------------------#
# find . -name "*.py" -type f -exec sed -i '' 's/kevinluzbetak/kluzbetak/g' {} \;
</code></pre>


{% include footer.html %}

