---
---
{% include menu.html title="Big Data" %}

<hr>
<h2>Data Mesh Decentralized Architecture</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=30%>
            <ul>
                <li>
                    <a href="Data-Mesh-Decentralized-Architecture.html">Data Mesh</font></a>
                    <span class="comment">Decentralized approach to managing data, distributing data ownership to domain teams while ensuring strong governance and accessibility across the organization.</span></li>
                </li>
                <li>
                    <a href="Data-Fabric-vs-Data-Mesh.html">Data Fabric vs Data Mesh</font></a>
                    <span class="comment"> 
                        <strong>Data Fabric</strong> - Centralized Approach<br>
                        <strong>Data Mesh</strong> - Decentralized Ownership<br><br>
                    </span>  
                </li>
            </ul>
        </td>
        <td valign=top width=70%>
            <img src="/images/data-mesh.png" width="800" alt="Data Mesh" style="display: block; margin: 0 auto;">
        </td>
    </tr>
</table>

<hr>
<h2>Snowflake - RDBMS Schemas</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul><li>
                <a href="Snowflake-Architecture.html">Inmon & Kimball Architecture</font></a>
                <span class="comment"><strong>Inmon (Top-Down) Centralized</strong>, normalized enterprise data warehouse
                <br><strong>Kimball (Bottom-Up)</strong> Dimensional modeling approach using denormalized data marts:</span></li>
            </ul></li>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="RDBMS-Star-Schema.html">RDBMS Star Schema</a></li>
            </ul>                
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="RDBMS-Snowflake-Schema.html">RDBMS Snowflake Schema</a></li>
            </ul>
        </td>
    </tr>
</table>

<hr>
<h2>Apache Kafka</h2>
<table width="1100" border="0">
    <tr>
        <td>
            <ul>
                <li><a href="Apache-Kafka.html">Key Points of Apache Kafka</a></li>
            </ul>
        </td>
        <td>
            <ul>
                <li><a href="Kafka-Producer-Consumer.html">Kafka Producer Consumer</a></li>
            </ul>
        </td>
    </tr>
</table>

<hr>
<h2>Large-scale data ingestion</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="etl-pipeline.html">ETL Pipeline</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="Apache-Parquet.html">Apache Parquet</a></li>
                <li><a href="Large-Scale-Data-Ingestion2.html">Large Scale Data Ingestion</a></li>
                <li><a href="MongoDB-Document-Based-NoSQL-Database.html">MongoDB Document-Based NoSQL Database</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="Apache-Hudi.html">Apache Hudi</a></li>
                <li><a href="Apache-Iceberg.html">Analytics Apache Iceberg</a></li>
            </ul>
        </td>
    </tr>
</table>




<p><hr align=left width=1100>
<h2>Graph Databases</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="Graph-Databases-ArgoDB-Neo4j.html">ArgoDB Neo4j</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="GraphQL.html">GraphQL</a></li>
            </ul>
        </td>
    </tr>
</table>



{% include footer.html %}


