---
---
{% include menu.html title="Software Delivery - CI/CD" %}

<body>
    <h3>Software Delivery</h3>
    <table width="1000" border="0">
        <tr>
            <td valign=top>
                <ul>
                    <li><a href="software-delivery.html">Popular Software Delivery</a></li>
                </ul>
            </td>
            <td valign=top>
                <ul>
                    <li><a href="etl-pipeline.html">ETL Pipeline</a></li>
                    <li><a href="github.html">Github Source Control Management</a></li>
                </ul>
            </td>
        </tr>
    </table>
    <p>
    <h3>CI/CD Pipeline</h3>
    <table width="1000" border="0">
        <tr>
            <td valign=top>
                <ul>
                    <li><a href="apache-airflow.html">Apache Airflow</a></li>
                    <li><a href="apache-nifi.html">Apache NiFi</a></li>
                </ul>
            </td>
        </tr>
    </table>
    <p>
    <h3>Containerization</h3>
    <table width="1000" border="0">
        <tr>
            <td valign=top>
                <ul>
                    <li><a href="docker-101.html">Docker 101</a></li>
                </ul>
            </td>
            <td valign=top>
                <ul>
                    <li><a href="kubernetes-101.html">Kubernetes 101</a></li>
                </ul>
            </td>
        </tr>
    </table>

  {% include footer.html %}

  </body>
</html>
    


