---
---
{% include menu.html title="Software Delivery - CI/CD" %}

<hr align=left width=1000>
    <h3>Software Delivery</h3>
    <table width="1000" border="0">
        <tr>
            <td valign=top>
                <ul>
                    <li><a href="software-delivery.html">Popular Software Delivery</a></li>
                    <li><a href="etl-pipeline.html">ETL (Extract, Transform, Load)</a></li>
                </ul>
            </td>
            <td valign=top>
                <ul>
                    <li><a href="github.html">Github Source Control Management</a></li>
                </ul>
            </td>
        </tr>
    </table>
    <p>
    <h3>CI/CD Pipeline</h3>
    <table width="1000" border="0">
        <tr>
            <td valign=top>
                <ul>
                    <li><a href="apache-airflow.html">Apache Airflow</a></li>
                    <li><a href="apache-nifi.html">Apache NiFi</a></li>
                </ul>
            </td>
        </tr>
    </table>
    <p>
    <h3>Containerization</h3>
    <table width="1000" border="0">
        <tr>
            <td valign=top width=33%>
                <ul>
                    <li><a href="docker.html">Docker</a>
                        <span class="comment">Platform to automate the deployment of applications inside  portable containers, ensuring consistency across different environments.</span> 
                    </li>
                </ul>
            </td>
            <td valign=top width=33%>
                <ul>
                    <li><a href="Kubernetes.html">Kubernetes</a>
                        <span class="comment">Platform to automates the deployment, scaling, and management of containerized applications across clusters of machines.</span> 
                    </li>
                </ul>
            </td>
            <td valign=top width=33%>
                <ul>
                    <li><a href="/links">Links</a></li>
                </ul>
            </td>
        </tr>
    </table>

  {% include footer.html %}

  </body>
</html>
    


