---
---
{% include menu.html title="Snowflake Data Warehouse Architecture" %}

    <h1>Data Warehouse Architecture:</h1>

    <h2>Inmon (Top-Down):</h2>
    <ul>
        <li>Centralized, normalized enterprise data warehouse design for scalable and flexible data integration.</li>
    </ul>

    <h2>Kimball (Bottom-Up):</h2>
    <ul>
        <li>Dimensional modeling approach using denormalized data marts optimized for fast querying and reporting.</li>
    </ul>

 {% include footer.html %}

  </body>
</html>
