---
---
{% include menu.html title="SQL Overview" %}

<p><hr align=left width=1000>
<h1>SQL Overview</h1>
<table width="1000" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="common-sql-statements.html">Common SQL Statements</a></li>
                <li><a href="sql_overview.html">SQL Overview</a></li>
                <li><a href="sql_query_optimization.html">SQL Query Optimization</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="sql-101.html">SQL 101</a></li>
                <li><a href="sql-create-view.html">SQL Create View</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr align=left width=1000>
<h1>Relational Databases</h1>
<table width="1000" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="relational_databases.html">Relational Databases</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="sql_query_optimization.html">SQL Query Optimization</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr align=left width=1000>
<h1>Large-scale data ingestion</h1>
<table width="1000" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="large-scale-data-ingestion.html">Large Scale Data Ingestion</a></li>
                <li><a href="apache-iceberg.html">Analytics Apache Iceberg</a></li>
            </ul>
        </td>
        <td valign=top>
            <ul>
                <li><a href="s3-apache-parquet-format.html">S3 Apache Parquet Format</a></li>
                <li><a href="apache-hudi.html">Apache Hudi</a></li>
                <li><a href="apache-nifi.html">Apache NiFi</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr align=left width=1000>
<h1>Snowflake</h1>
<table width="1000" border="0">
    <tr>
        <td valign=top>
            <ul>
                <li><a href="data-warehouse-architecture.html">Data Warehouse Architecture</a></li>
            </ul>
        </td>
    </tr>
</table>

  {% include footer.html %}

  </body>
</html>

