---
---
{% include menu.html title="SQL Overview" %}


<hr align=left width=1000>
<table width="900" border="0"><tr><td>
<h1>SQL CREATE VIEW Statement</h1>

<h3>SQL - Create a Simple View</h3>
This query creates a view named <code>employee_salaries</code> that shows employee names and their salaries from the <code>employees</code> table.
<pre><code>
<span class="keyword">CREATE</span> <span class="keyword">VIEW</span> <span class="string">employee_salaries</span> <span class="keyword">AS</span>
<span class="keyword">SELECT</span> <span class="string">employee_name</span>, <span class="string">salary</span>
<span class="keyword">FROM</span> <span class="string">employees</span>;
</code></pre>

<h3>SQL - Create a View with Joins</h3>
This query creates a view named <code>department_salary_view</code> that shows department names along with the total salaries for each department.
<pre><code>
<span class="keyword">CREATE</span> <span class="keyword">VIEW</span> <span class="string">department_salary_view</span> <span class="keyword">AS</span>
<span class="keyword">SELECT</span> <span class="string">d.department_name</span>, <span class="function">SUM</span>(<span class="string">e.salary</span>) <span class="keyword">AS</span> total_salary
<span class="keyword">FROM</span> <span class="string">departments</span> <span class="keyword">d</span>
<span class="keyword">JOIN</span> <span class="string">employees</span> <span class="keyword">e</span>
<span class="keyword">ON</span> <span class="string">d.department_id</span> = <span class="string">e.department_id</span>
<span class="keyword">GROUP</span> <span class="keyword">BY</span> <span class="string">d.department_name</span>;
</code></pre>

<h3>SQL - Create a View with Conditions</h3>
This query creates a view named <code>high_salary_employees</code> that shows employees with salaries greater than $80,000.
<pre><code>
<span class="keyword">CREATE</span> <span class="keyword">VIEW</span> <span class="string">high_salary_employees</span> <span class="keyword">AS</span>
<span class="keyword">SELECT</span> <span class="string">employee_name</span>, <span class="string">salary</span>
<span class="keyword">FROM</span> <span class="string">employees</span>
<span class="keyword">WHERE</span> <span class="string">salary</span> <span class="string">&gt;</span> <span class="string">80000</span>;
</code></pre>

</td></tr><table>


  {% include footer.html %}

  </body>
</html>
